/* ProductCard Styles */
.product-card {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    background-color: #fff;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  
  .product-card-img {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
  }
  
  .product-card-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    object-fit: fill;
    
  }
  
  .heart-icon1 {
    position: relative;
    left: 90%;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .product-card-info {
    padding: 1rem;
  }
  
  .product-card-info h2 {
    margin-top: 0;
  }
  
  .view-details-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .view-details-btn:hover {
    background-color: #555;
  }
  
  /* Animations */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .product-card {
      width: 100%;
      max-width: 400px;
    }
  }
  
  @media (max-width: 480px) {
    .product-card {
      max-width: 100%;
    }
  }